@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.height-90 {
  height: 95%;
}

@layer components {
  .card {
    @apply shadow-md rounded border p-2 hover:shadow-lg m-6;
  }
}
